In [42]:
import csv
import pandas as pd

with open("Customers1.csv", encoding='utf-8') as r_file:  # Создаем объект reader, указываем символ-разделитель ","
    file_reader = csv.reader(r_file, delimiter=",")
    count = 0
    data = []
    for row in file_reader: # чтение csv  файла
        if count != 0:
            Resousre = round(int(row[3]) / 12,2) # вычисление месячной зарплаты 
            data = data + [(row[0], row[1], row[2], row[3], row[4], row[5], row[6], row[7], str(Resousre))] # Формирование кортежа данных
        count += 1
    print(f'Всего в файле {count} строк.')
    with open("Customers2.csv", mode="w", encoding='utf-8') as w_file: # Создаём новый csv файлл
        file_writer = csv.writer(w_file, delimiter=",", lineterminator="\r")
        file_writer.writerow( 
            ["CustomerID", "Gender", "Age", "Annual Income", "Spending Score", "Profession", "Work Experience", # записываем заголовки
             "Family Size", "Monthly salary"])
        file_writer.writerows(data) # записываем данные 
    
shop = pd.read_csv('Customers2.csv') 
shop.head() # Вывод первых 5 строк

Всего в файле 2001 строк.

,CustomerID,Gender,Age,Annual Income,Spending Score,Profession,Work Experience,Family Size,Monthly salary
0,1,0,19,15000,39,Healthcare,1,4,1250.00
1,2,0,21,35000,81,Engineer,3,3,2916.67
2,3,1,20,86000,6,Engineer,1,1,7166.67
3,4,1,23,59000,77,Lawyer,0,2,4916.67
4,5,1,31,38000,40,Entertainment,2,6,3166.67